<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/*******************************************************************************
 * Copyright (c) 2013-2015 UAH Space Research Group.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     MICOBS SRG Team - Initial API and implementation
 ******************************************************************************/
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://srg.aut.uah.es/micobs/library/pdllibrary"
            class="es.uah.aut.srg.micobs.pdl.library.pdllibrary.provider.pdllibraryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
      <factory
            uri="http://srg.aut.uah.es/micobs/pdl"
            class="es.uah.aut.srg.micobs.pdl.provider.pdlItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://srg.aut.uah.es/micobs/library/pdllibrary"
            class="es.uah.aut.srg.micobs.pdl.library.pdllibrary.pdllibraryPackage"
            genModel="model/pdllibrary.genmodel"/>
      <package
            uri="http://srg.aut.uah.es/micobs/pdl"
            class="es.uah.aut.srg.micobs.pdl.pdlPackage"
            genModel="model/pdl.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:es.uah.aut.srg.micobs.menu.id?before=es.uah.aut.srg.micobs.menu.separator.id">
         <command
               commandId="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.OpenLibrary"
               id="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.menu.OpenLibrary"
               mnemonic="P"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="PDL Library">
            <command
                  commandId="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.UploadToLibrary"
                  id="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.popup.UploadToLibrary"
                  mnemonic="U"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate operator="and" ifEmpty="false">
                        <instanceof
                       		value="org.eclipse.core.resources.IResource">
                        </instanceof>
                        <test
                        	property="org.eclipse.core.resources.extension"
                            value="micobs_pdl">
                        </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
  </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="es.uah.aut.srg.micobs.pdl.library.pdllibrary.presentation.pdllibraryEditorID"
            name="%_UI_pdllibraryEditor_label"
            icon="icons/full/obj16/pdllibraryModelFile.gif"
            extensions="pdllibrary"
            class="es.uah.aut.srg.micobs.pdl.library.pdllibrary.presentation.pdllibraryEditor"
            contributorClass="es.uah.aut.srg.micobs.pdl.library.pdllibrary.presentation.pdllibraryActionBarContributor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.OpenLibrary"
            name="Open PDL Library">
      </command>
      <command
            id="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.UploadToLibrary"
            name="Upload to Library">
      </command>
  </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.ui.OpenPDLLibrary"
            commandId="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.OpenLibrary">
      </handler>
      <handler
            class="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.ui.UploadToPDLLibraryHandler"
            commandId="es.uah.aut.srg.micobs.pdl.library.pdllibrary.manager.UploadToLibrary">
      </handler>
   </extension>

   <extension
         point="es.uah.aut.srg.micobs.library">
      <library
            adapter="es.uah.aut.srg.micobs.pdl.library.pdllibrary.adapters.PDLLibraryAdapter"
            id="es.uah.aut.srg.micobs.pdl.library.pdllibrary"
            name="MPDLLibrary">
      </library>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            class="es.uah.aut.srg.micobs.pdl.ui.wizards.NewOperatingSystemFileWizard"
            icon="icons/full/wizban/PDLMiniLogo.gif"
            id="es.uah.aut.srg.micobs.pdl.os.wizard"
            name="%_UI_NewOperatingSystemFile_Wizard_name"
            project="false">
      </wizard>
      <wizard
            category="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            class="es.uah.aut.srg.micobs.pdl.ui.wizards.NewOperatingSystemAPIFileWizard"
            icon="icons/full/wizban/PDLMiniLogo.gif"
            id="es.uah.aut.srg.micobs.pdl.osapi.wizard"
            name="%_UI_NewOperatingSystemAPIFile_Wizard_name"
            project="false">
      </wizard>
      <wizard
            category="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            class="es.uah.aut.srg.micobs.pdl.ui.wizards.NewArchitectureFileWizard"
            icon="icons/full/wizban/PDLMiniLogo.gif"
            id="es.uah.aut.srg.micobs.pdl.arch.wizard"
            name="%_UI_NewArchitectureFile_Wizard_name"
            project="false">
      </wizard>
      <wizard
            category="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            class="es.uah.aut.srg.micobs.pdl.ui.wizards.NewMicroprocessorFileWizard"
            icon="icons/full/wizban/PDLMiniLogo.gif"
            id="es.uah.aut.srg.micobs.pdl.microprocessor.wizard"
            name="%_UI_NewMicroprocessorFile_Wizard_name"
            project="false">
      </wizard>
       <wizard
            category="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            class="es.uah.aut.srg.micobs.pdl.ui.wizards.NewDeviceFileWizard"
            icon="icons/full/wizban/PDLMiniLogo.gif"
            id="es.uah.aut.srg.micobs.pdl.device.wizard"
            name="%_UI_NewDeviceFile_Wizard_name"
            project="false">
      </wizard>
      <wizard
            category="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            class="es.uah.aut.srg.micobs.pdl.ui.wizards.NewBoardFileWizard"
            icon="icons/full/wizban/PDLMiniLogo.gif"
            id="es.uah.aut.srg.micobs.pdl.board.wizard"
            name="%_UI_NewBoardFile_Wizard_name"
            project="false">
      </wizard>
      <wizard
            category="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            class="es.uah.aut.srg.micobs.pdl.ui.wizards.NewPlatformFileWizard"
            icon="icons/full/wizban/PDLMiniLogo.gif"
            id="es.uah.aut.srg.micobs.pdl.platform.wizard"
            name="%_UI_NewPlatformFile_Wizard_name"
            project="false">
      </wizard>
      <category
            id="es.uah.aut.srg.micobs.pdl.wizard.file.category"
            name="%_UI_PDL_Wizard_category">
      </category>
   </extension>

</plugin>
